*.class
*.db
*.iml
*.out
*.pyc
*.swp
*jar
.*.swo
.*.swp
.idea
.lein-*
.nrepl-port
.repl
/checkouts
/classes
/lib
/out
/resources/public/js/compiled/**
/target
figwheel_server.log
node_modules
out
out*.txt
package-lock.json
pom.xml
tags
target
