*.class
*.db
*.iml
*.out
*.pyc
*.swp
*jar
.*.swo
.*.swp
.DS_Store
.idea
.lein-*
.nrepl-port
.repl
/checkouts
/classes
/lib
/node_modules
/out
/resources/public/js/compiled/**
/target
figwheel_server.log
out*.txt
package-lock.json
pom.xml
tags
