*.class
*.db
*.idea
*.iml
*.out
*.pyc
*.swp
*jar
.*.swo
.*.swp
.lein-*
.nrepl-port
.repl
/checkouts
/classes
/lib/
/out/
/resources/public/js/compiled/**
/target
figwheel_server.log
out
out*.txt
pom.xml
tags
target
